---
import ArticleFooter from '../components/ArticleFooter.astro';
import SiteSidebar from '../components/SiteSidebar.astro';
import ThemeToggle from '../components/ThemeToggle.tsx';
import DocSidebar from '../components/DocSidebar.tsx';
---
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="header" />
    
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/prism.css">
    <script src="/theme.js" />
    <link rel="icon" 
          type="image/svg+xml" 
          href="/favicon.svg">
  </head>

  <body class="bg-white dark:bg-gray-900">
    <div class="flex mx-auto">
      <aside id="sidebar-nav">
        <SiteSidebar />
      </aside>
      <article class="flex-1 w-0 flex flex-col">
        <main class="p-4 max-w-full flex-1 relative focus:outline-none prose dark:prose-dark prose-sm sm:prose-lg ">
          <slot />
        </main>
      </article>
    </div>
  </body>
</html>
