---
import Base from './Base.astro'

const { content } = Astro.props;
const headers = content.astro.headers;
const currentPage = Astro.request.url.pathname;
const currentFile = currentPage === '/' ? 'src/pages/index.md' : `src/pages${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = `https://github.com/USER/REPO/blob/main/${currentFile}`

---
<Base>
  <title slot="header">solid-phaser | {content.title}</title>

  <slot />
</Base>
